body {
	background-color:cyan;
}

h1 {
	text-align: center;
	font-family: Arial;
	color: black;
}

table, td, tbody {
	text-align: center;
}

tr, td {
}

.menu-button{
	text-align: center;
	float: middle;
	font-size: 20px;
	color: purple;
	background-color: violet;
	font-family: Arial;
}

.menu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu ul, .menu li{
	display: inline;
}

.tile{
	
}

.content{
	background-image : url("daisy-flower.jpg");
	position:relative;
	height:100%;
	width:100%;
}

.tile span{
	font-size: 50px;
	color: red;
	display: none;
}	

.hidden-tile{
	visibility: hidden;
}

.hidden{
	visibility: hidden;
}

.win-message{
	font-size: 20px;
	font-family: Arial;
	color: yellow;
	background-color: red;
}

#move-counter{
	font-size: 20px;
	font-family: Arial;
	color: #ffe6e6;
	background-color: blue;
	width : 300px;
}

